body {
                
  /* background: linear-gradient(135deg, #4a90e2, #9013fe); */
  display: flex;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url('C:\\Users\\Avula\\OneDrive\\Desktop\\m44.jpeg');
  background-size: cover; /* Ensures the image covers the entire element */
  background-position: center; /* Centers the image */
}

